<!DOCTYPE html>
@using System.Data;
@using HZ.Data.BLL;
@using HZ.Data.Model;
@using HZ.Web;
@using System.Configuration;
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    @RenderSection("PageSpecificStyleSheetIncludes", required: false)

    <link rel="stylesheet" type="text/css" href="/html/css/cloud-admin.css">
    <link rel="stylesheet" type="text/css" href="/html/css/themes/default.css" id="skin-switcher">
    <link rel="stylesheet" type="text/css" href="/html/css/responsive.css">
    <!-- STYLESHEETS -->
    <link type="text/css" href="/html/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- ANIMATE -->
    <link rel="stylesheet" type="text/css" href="/html/css/animatecss/animate.min.css" />
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="/html/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <!-- DATA TABLES -->
	<link rel="stylesheet" type="text/css" href="/html/js/datatables/media/css/jquery.dataTables.min.css" />
	<link rel="stylesheet" type="text/css" href="/html/js/datatables/media/assets/css/datatables.min.css" />
	<link rel="stylesheet" type="text/css" href="/html/js/datatables/extras/TableTools/media/css/TableTools.min.css" />
    <!-- TODO -->
    <link rel="stylesheet" type="text/css" href="/html/js/jquery-todo/css/styles.css" />
    <!-- FULL CALENDAR -->
    <link rel="stylesheet" type="text/css" href="/html/js/fullcalendar/fullcalendar.min.css" />
    <!-- GRITTER -->
    <link rel="stylesheet" type="text/css" href="/html/js/gritter/css/jquery.gritter.css" />
</head>

<body>
    <!-- HEADER -->
    <header class="navbar clearfix" id="header">
        @Html.Partial("_Header")
    </header>
    <!--/HEADER -->


    <!-- PAGE -->
    <section id="page">
        <!-- SIDEBAR -->
        @Html.Partial("_Menu")
        <!-- /SIDEBAR -->
        <div id="main-content">
            <div class="container">
                <div class="row">
                    <div id="content" class="col-lg-12" style="height: 90%;">
                        <!-- PAGE HEADER-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-header">
                                    <!-- BREADCRUMBS -->
                                    <ul class="breadcrumb">
                                        <li>
                                            <i class="fa fa-home"></i>
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li>Dashboard - shared on weidea.net</li>
                                    </ul>
                                    <!-- /BREADCRUMBS -->
                                    <div class="clearfix">
                                        <h3 class="content-title pull-left">Dashboard</h3>

                                    </div>
                                    <div class="description">Overview, Statistics and more</div>
                                </div>
                            </div>
                        </div>
                        @RenderBody()
                        <div class="footer-tools">
                            <span class="go-top">
                                <i class="fa fa-chevron-up"></i>Top
                            </span>
                        </div>
                    </div>
                    <!-- /CONTENT-->

                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        var staticFileRoot = "@Url.StaticFile()";
    </script>

    <!--/PAGE -->
    <!-- JAVASCRIPTS -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- JQUERY -->
    <script type="text/javascript" src="/html/js/jquery/jquery-2.0.3.min.js"></script>
    <!-- JQUERY UI-->
    <script type="text/javascript" src="/html/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <!-- BOOTSTRAP -->
    <script type="text/javascript" src="/html/bootstrap-dist/js/bootstrap.min.js"></script>
    <!-- DATE RANGE PICKER -->
    <script type="text/javascript" src="/html/js/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/html/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
    <!-- SLIMSCROLL -->
    <script type="text/javascript" src="/html/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/html/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
    <!-- BLOCK UI -->
    <script type="text/javascript" src="/html/js/jQuery-BlockUI/jquery.blockUI.min.js"></script>
    <!-- DATA TABLES -->
	<script type="text/javascript" src="/html/js/datatables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/html/js/datatables/media/assets/js/datatables.min.js"></script>
	<script type="text/javascript" src="/html/js/datatables/extras/TableTools/media/js/TableTools.min.js"></script>
	<script type="text/javascript" src="/html/js/datatables/extras/TableTools/media/js/ZeroClipboard.min.js"></script>
	
    <!-- TODO -->
    <script type="text/javascript" src="/html/js/jquery-todo/js/paddystodolist.js"></script>
    <!-- COOKIE -->
    <script type="text/javascript" src="/html/js/jQuery-Cookie/jquery.cookie.min.js"></script>
    <!-- CUSTOM SCRIPT -->
    <script type="text/javascript" src="/html/js/myscript.js"></script>

    <script type="text/javascript">
        var menuid = "@ViewData["MenuID"]";
        jQuery(document).ready(function () {
            App.setPage("dynamic_table");  //Set current page
            App.init(); //Initialise plugins and elements
            @if (ViewData["MenuID"] != null)
            {
                if (!UserContext.CheckPower(ViewData["MenuID"].ToString(), ButtonKeys.DELETE.ToString()))
                {
                    @Html.Raw("$('#DELETE').hide();");
                }
                if (!UserContext.CheckPower(ViewData["MenuID"].ToString(), ButtonKeys.ADD.ToString()))
                {
                    @Html.Raw("$('#ADD').hide();");
                }
                if (!UserContext.CheckPower(ViewData["MenuID"].ToString(), ButtonKeys.MODIFY.ToString()))
                {
                    @Html.Raw("$('a[id^=MODIFY]').hide();power_modify=false;");//匹配相应的如MODIFY1 MODIFY2等都使用该
                }
                else
                {
                    @Html.Raw("power_modify=true;");//双击修改
                }
                if (!UserContext.CheckPower(ViewData["MenuID"].ToString(), ButtonKeys.EXPORT.ToString()))
                {
                    @Html.Raw("$('a[id=EXPORT]').hide();");
                }
                if (!UserContext.CheckPower(ViewData["MenuID"].ToString(), ButtonKeys.ADMIT.ToString()))
                {
                    @Html.Raw("$('a[id=ADMIT]').hide();");
                }
                if (!UserContext.CheckPower(ViewData["MenuID"].ToString(), ButtonKeys.PRINT.ToString()))
                {
                    @Html.Raw("$('a[id=PRINT]').hide();");
                }
            }
            $("a").each(function () { this.ondragstart = function () { return false; }; })
        });
    </script>
    <!-- /JAVASCRIPTS -->
    @RenderSection("PageSpecificJavascriptIncludes", required: false)
</body>
</html>
